:root {
  box-sizing: border-box;
  --light-cl1: #fafcff;
  --light-cl2: #d7e0ee;
  --light-cl3: #b3c6e2;
  --light-cl4: #6f93ca;
  --light-cl5: #4a79c0;
  --dark-cl1: #2e5b9f;
  --dark-cl2: #1b3d6f;
  --dark-cl3: #0e2952;
  --dark-cl4: #061a39;
  --dark-cl5: #030e1d;

}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-site-navigation {
  background-color: #4a5569;
}

.secondary-site-navigation {
  background-color: var(--light-cl1);
}

.site-header-info {
  background-color: var(--light-cl2);
  color: #647490;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 6px;
}

.nav-options {
  list-style: none;
  display: flex;
  justify-content: center;

}

.nav-item {
  padding: .5rem 3rem;
  text-decoration: none;
}

.primary-nav-item {
  color: var(--light-cl1);
}

.secondary-nav-item {
  color: var(--dark-cl4);
}

.primary-nav-item a:visited {
  color: #f9fcff;
  text-decoration: none;
}

.secondary-nav-item a:visited {
  color: #091c2f;
  text-decoration: none;
}

.nav-item a:link {
  color: #ddd;
  text-decoration: none;
}

.products-page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.products-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #c5cbf0;
  min-height: 100%;
}

.products-sidebar h2,
.products-sidebar h3 {
  color: #20203d;
  padding: 1rem 0 0 3rem;
}

.single-product {
  padding: 30px 0 0 50px;
  color: #000;
}

.product-name {
  font-size: 2rem;
}

.product-desc {
  font-size: 1rem;
  font-weight: 700;
}

.product-price {
  font-size: 1rem;
  color: red;
}

.product-cat {
  font-size: 1rem;
}

.shopping-cart-icon {
  background-color: #dae2f0;
  padding: 0 4px;
  border-radius: 15px;
  margin-left: 5px;
  color: #2a364b;
  font-weight: 700;
}